.creditCardsContainer{
    display: flex;
    justify-content: center;
    gap:30px;
}

.card{
    width:35%;
    height:100px;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}

.card p{
    padding: 5px;
}


.creditCompanyImg{
    width:50%;
    height:100%;
}