.UserInfo form {
    list-style-type: disc;
    font-size: 1.5em;
}

.UserInfo form li {
    margin: 5vh;
}

.UserInfo>h1 {
    margin: 3vh;
    text-decoration: underline;
    text-align: center;
}

.UserInfo {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

.UserInfo h1 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
}

.UserInfo ul {
    width:100%;
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
}

.UserInfo li {
    /* margin: 10px 0; */
    font-size: 18px;
}

.UserInfo button {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #3498db;
    color: #fff;
    cursor: pointer;
    border: none;
    outline: none;
    transition: all 0.2s ease-in-out;
}

.UserInfo button:hover {
    background-color: #2980b9;
}

.UserInfo .buttons-continer{
    width: 50vw;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around
}

.UserInfo .special{
    width:80%;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 768px) {
    .UserInfo {
        width: 80%;
    }
}