.statsContainer{
    display: flex;
    height:500px;
    justify-content: space-around;
    align-items: center;
}

.chart{
    width:30%;
    height:200px;
}

.UserStats {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    background-color: #F2F2F2;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    /* margin: 50px 0; */
  }
  
  #statsH2 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }
  
  .statsContainer {
    display: flex;
    justify-content: space-between;
    width: 90%;
  }
  
  .chart {
    width: 45%;
    height: 400px;
  }
  
  @media screen and (max-width: 768px) {
    .statsContainer {
      flex-direction: column;
    }
  
    .chart {
      width: 90%;
      margin-bottom: 30px;
    }
  }
  