.transferContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 10px;
    box-shadow: 2px 2px 8px #ccc;
    width: 60%;
    margin: 20px auto;
}

.transferContainer form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.transferContainer label {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    font-size: 1.2em;
}

.transferContainer select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    font-size: 1.2em;
}

.transferContainer input[type='number'] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    font-size: 1.2em;
}

.transferContainer input[type='text'] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    font-size: 1.2em;
}


.transferContainer div {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;

}

.transferContainer label {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 48%;
}

.transferContainer button[type='submit'] {
    width: 100%;
    padding: 10px;
    background-color: rgb(64, 131, 240);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    margin-top: 10px;
}


@media (max-width: 768px) {
    .transferContainer {
        width: 80%;
    }
}